/* GLOBALS & GENERAL
======================================= */

#top .avia-post-nav { display: none; }

a { text-decoration: none !important; }


/* Removes special amp &
------------------------------------------------------ */
.special_amp {
    font-family: inherit !Important;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit!important;
}


/* Decreases padding size of color-section on mobile
------------------------------------------------------ */
@media only screen and (max-width: 767px) {
    .avia-section-huge .content, .avia-section-huge .sidebar,
    .avia-section-large .content, .avia-section-large .sidebar {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}


/* Hides scroll to top button
------------------------------------------------------ */
#scroll-top-link {display: none;}


/* Adds max width
------------------------------------------------------ */
.mw-700 {
    max-width: 700px !important;
    margin: auto !Important;
}


/* Sets normal letter spacing for titles
------------------------------------------------------ */
h1, h2, h3, h4, h5 {
    letter-spacing: 0 !important;
}


/* Shadows
------------------------------------------------------ */
.shadow-lg { box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important }
.shadow-sm { box-shadow: 0 .125rem .25rem rgba(0,0,0,.1)!important; }


/* hides what needs to be hidden
------------------------------------------------------ */
.d-none { display:none !important }


/* Styles subheadings
------------------------------------------------------ */
.subheading-style .av-subheading {
    letter-spacing: 5px;
    margin-bottom: 1em;
}
.emdash {
    color: #00a4da;
}


/* Re-styles padding for large buttons
------------------------------------------------------ */
.large-button .avia-button {
    padding: 1rem 1.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
    .large-button .avia-button {
        padding: .75rem 1rem;
    }
}


/* Fixes button background when has shadow
------------------------------------------------------ */
.avia-button-wrap.has-shadow {
    border-radius: 6px;
}
.avia-button-wrap.has-shadow .avia-button {
    margin: 0;
}


/* Adds glow shadow to buttons
------------------------------------------------------ */
.blue-glow-lg a {
    box-shadow: 0 1rem 1.5rem -.5rem rgba(1, 164, 217,0.4)!important;
}


/* Class Adds border-radius to buttons
------------------------------------------------------ */
.avia-button-wrap.border-radius a {
    border-radius: 50px !important;
}


/* Increases horizontal padding of small buttons
------------------------------------------------------ */
.avia-button.avia-size-small {
    padding: 9px 14px 7px !important;
}


/* Increases padding on main menu links
------------------------------------------------------ */
.av-main-nav > li > a {
    padding: 0 20px;
}


/* Re-styles the image hover overlay
------------------------------------------------------ */
.image-overlay {
    background: rgba(255,255,255,.5);
}
.avia_transform a:hover .image-overlay {
    opacity: .95 !important;
}
.image-overlay {
    transform: scaleX(.96);
    box-shadow: 0 0 10px #fff;
}


/* Styles bordered buttons
------------------------------------------------------ */
.avia-button-wrap a.avia-color-dark,
.avia-button-wrap a.avia-color-light {
    border-radius: 50px !important;
    border-width: 1px !important;
}
.avia-button-wrap a.avia-color-dark .avia_button_icon,
.avia-button-wrap a.avia-color-light .avia_button_icon {
    margin-right: 8px !important;
    left: 0 !important;
}
.avia-color-theme-color-subtle {
    border: 1px solid #71247A !important;
    background: white !important;
    font-weight: bold !important;
    color: #71247A !important;
}


/* HEADER
======================================= */


/* Shows header bottom border only on scroll
------------------------------------------------------ */
.header-scrolled #header_main {
    border-color: inherit;
    transition: border-color .5s;
}
/* Makes it blurred */
.header-scrolled .header_bg { 
    opacity: 1 !important;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.8);
}
/* Active state gradient color */
.avia-menu-fx {
background: rgb(183,41,137);
background: -moz-linear-gradient(90deg, rgba(183,41,137,1) 0%, rgba(25,177,238,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(183,41,137,1) 0%, rgba(25,177,238,1) 100%);
background: linear-gradient(90deg, rgba(183,41,137,1) 0%, rgba(25,177,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b72989",endColorstr="#19b1ee",GradientType=1);
}


/* Styles burguer menu icon
------------------------------------------------------ */
#top .av-small-burger-icon {
    -ms-transform: scale(0.75) !important;
    transform: scale(0.75) !important;
}


/* Fixes the vertical alignment of the responsive navigation
links. Because it's aligned middle by default.
-------------------------------------------------------------- */
#top #av-burger-menu-ul {
    vertical-align: top !important;
}

/* Increases padding on main menu links
------------------------------------------------------ */
.av-main-nav > li > a {
    padding: 0 20px;
}


/* HOME
======================================= */


/* Styles main-pitch
------------------------------------------------------ */
@media only screen and (max-width: 1140px) {
    .main-pitch .av-special-heading-tag {
        font-size: 43px;
    }
}
@media only screen and (max-width: 767px) {
    .main-pitch-column {
        margin-bottom: -10px !important;
    }
    .main-pitch .av-special-heading-tag {
        padding-top: 0 !important;
    }
}
.main-pitch-subtext {
    line-height: normal;
    max-width: 480px;
}


/* Styles Afredo's Picture
------------------------------------------------------ */
.alfredos-picture img {
    max-width: 500px;
    border-radius: 40%;
}
@media only screen and (max-width: 1340px) {
    .alfredos-picture img {
        max-width: 450px;
    }
}
@media only screen and (max-width: 989px) {
    .alfredos-picture img {
        max-width: 320px;
    }
}
@media only screen and (max-width: 767px) {
    .alfredos-picture img {
        max-width: 370px;
    }
}
@media only screen and (max-width: 479px) {
    .alfredos-picture img {
        max-width: 300px;
    }
}


/* Spacing for home sections
------------------------------------------------------ */
.home-intro .template-page {
    padding-top: 120px !important;
    padding-bottom: 150px !important;
}
@media only screen and (max-width: 1340px) {
    .home-intro .template-page {
        padding-top: 90px !important;
        padding-bottom: 100px !important;
    }
}
@media only screen and (max-width: 767px) {
    .home-intro .template-page {
        padding-bottom: 0 !important;
    }
}
@media only screen and (max-width: 479px) {
    .home-intro .template-page {
        padding-top: 50px !important;
    }
}


/* Styles home about-me
------------------------------------------------------ */
.home-about-content {
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15) !important;
}
.home-about-content:before {
    content: "";
    width: 85%;
    height: 75%;
    background: url(//alfredowebsites.com/wp-content/uploads/2019/03/plain-gradient.jpg) no-repeat top left;
    top: -20px;
    left: -15px;
    position: absolute;
    opacity: 1;
    background-size: 100%;
    z-index: -1;
    overflow: visible;
    visibility: inherit;
}
.home-about-content:after {
    content: "";
    width: 100%;
    height: 110%;
    background: #fff;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    background-size: 100%;
    z-index: -1;
    overflow: visible;
    visibility: inherit;
}
@media only screen and (max-width: 767px) {
    .home-about-content {
        box-shadow: none !Important;
        padding: 20px 20px 20px 30px !important;
    }
    .home-about-content:before {
        height: 19%;
        top: 25px !important;
        left: -5px !important;
    }
    .home-about-content .who {
        display: block;
    }
}


/* Styles the home services icons list
------------------------------------------------------ */
.home-services-list .avia-icon-list li {
    padding-bottom: 10px !important;
}

.home-services-list .av-iconlist-small .iconlist_icon {
    margin-right: .75em !important;
}
.home-services-list .avia-icon-list li .iconlist_content p  {
    margin-top: .5em;
}
.home-services-list .entry-content-header > * {
    text-transform: none !important;
}
.home-services-btn {
    padding-left: 6rem;
}
@media only screen and (max-width: 989px) {
    .home-services-btn {
        padding-left: 0rem;
        width: 100%;
    }
    .home-services-btn a {
        width: 100%;
    }
}
.home-services .av-small-bar .avia-progress-bar {
    margin-top: .75em !important;
}


/* Styles projects sort options
------------------------------------------------------ */
#js_sort_items {
    background: transparent !important;
}


/* Styles home projects grid spacing
------------------------------------------------------ */
.home-projects .grid-entry .inner-entry {
    margin-right: 16%;
    margin-bottom: 70px;
    box-shadow: none !important;
    background: transparent;
}
@media only screen and (max-width: 767px) {
    .home-projects .grid-entry .inner-entry {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 479px) {
    .home-projects .grid-entry .inner-entry {
        margin-right: 25px;
        margin-bottom: 35px;
    }
}


/* Styles home projects items
------------------------------------------------------ */
.home-projects .grid-entry .inner-entry {
    box-shadow: none !important;
}
.home-projects .grid-entry .inner-entry:before {
    content: "";
    width: 100%;
    height: 90%;
    background: url(//alfredowebsites.com/wp-content/uploads/2019/03/dotted-gradient.jpg) no-repeat top left;
    top: 0px;
    left: 0px;
    position: absolute;
    background-size: 90% 72%;
    z-index: 0;
}
@media only screen and (min-width: 480px) and (max-width: 989px) { 
    .home-projects .grid-entry .inner-entry:before {
        max-height: 190px;
    }
}
.home-projects .grid-image {
    overflow: visible;
    padding: 20px 0px 20px 20px;
}
.home-projects .grid-image img {
    box-shadow: -10px 15px 20px -10px rgba(0,0,0,0.2);
}
.home-projects .avia-arrow { 
    display: none; 
}
/* Your project here thumbnail */
.home-projects .grid-entry:last-child img {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.075), inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px rgba(0,0,0,0.05) !important
}


/* Styles home projects items title & excerpt
------------------------------------------------------ */
.home-projects .grid-content {
    padding: 5px 0 0 30px;
    text-align: left;
    background: transparent !important;
}
.home-projects .grid-entry-title {
    font-weight: bold !important;
    font-size: 1em;
    background: transparent !important;
}
.home-projects .grid-entry-excerpt {
    font-size: 14px;
    line-height: 1.4;
    margin-top: .5rem;
    font-style: normal;
    color: #666;
}
@media only screen and (min-width: 768px) and (max-width: 1140px)  {
    .home-projects .grid-entry-title {
        font-size: 16px;
    }
    .home-projects .grid-entry-excerpt {
        font-size: 12px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .home-projects  .grid-entry-title {
        font-size: 14px;
    }
    .home-projects .grid-entry-excerpt {
        font-size: 12px;
    }
    .home-projects .grid-entry:first-of-type .grid-entry-title {
        font-size: 1em;
    }
}


/* Styles AJAX portfolio
------------------------------------------------------ */
.portfolio-preview-image {
    background: white !important;
}
.portfolio_preview_container .portfolio-details-inner {
    margin-bottom: 35px !important;
}
@media only screen and (max-width: 767px){
    .responsive .ajax_slide .av_table_col.portfolio-preview-image {
        padding: 0 !important;
    }
}
.portfolio-preview-content p {
    font-size: 16px;
    line-height: 1.6;
}


/* SINGLE PROJECT
======================================= */


/* Styles single project cover and title container
------------------------------------------------------ */
@media only screen and (min-width: 990px) {
    .single-project-header {
        margin-bottom: -75px
    }
}
@media only screen and (max-width: 989px) {
    .single-project-header {
        margin-bottom: -20px
    }
}


/* Styles single project cover on mobile
------------------------------------------------------ */
@media only screen and (max-width: 767px) {
    .project-cover-img .avia-image-overlay-wrap {
        width: 120%;
        margin-left: -10%;
    }
}


/* Extra left margin to single project desc
------------------------------------------------------ */
@media only screen and (min-width: 990px) {
    .project-description .content {
        padding-left: 190px !important;
    }
}


/* Styles single project meta info
------------------------------------------------------ */
.project-meta .iconlist_icon {
    display: none;
}
.project-meta .entry-content-header {
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-weight: bold !important;
}
@media only screen and (min-width: 990px) {
    .horizontal-project-meta li {
        display: inline-block;
        margin-right: 50px;
    }
}


/* Horizontal scroll for mobile screens single projects
------------------------------------------------------ */
@media only screen and (max-width: 1024px) {
    .horizontal-scroll-container .container {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
    }
    .horizontal-scroll-container .flex_column {
        padding-left: 7.5% !important;
    }
}
.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap!important;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow-x: scroll !important;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.horizontal-scroll:before {
    display: none;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
}
.horizontal-scroll .avia-image-container {
    min-width: 320px !important;
    max-width: 320px !important;
    margin-top: 0 !important;
    margin-right: 30px;
    scroll-snap-align: center;
}
.horizontal-scroll .avia-image-container:last-of-type {
    margin-right: 0;
}
@media only screen and (max-width: 1024px) {
    .horizontal-scroll .avia-image-container {
        margin-right: 0;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 989px) {
    .horizontal-scroll .avia-image-container {
        max-width: 260px !important;
        min-width: 260px !important;
    }
}
.horizontal-scroll .avia-image-container img {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.15)!important;
}


/* Grid version for Horizontal scroll on Desktop
------------------------------------------------------ */
@media only screen and (min-width: 1025px) {
    .horizontal-scroll.grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 610px;
    }
    .horizontal-scroll.grid .avia-image-container {
        margin-right: 30px;
    }
    .horizontal-scroll.grid .avia-image-container:nth-child(3n) {
        margin-right: 0 !Important;
    }
}


/* Styles single desktop screenshots
------------------------------------------------------ */
.project-desktop-landing-page .container {
    max-width: 1024px !important;
}


/* Styles the link box "See Website" on single project
------------------------------------------------------ */
.project-live-link.av_promobox {
    border: 2px solid rgba(0,0,0,.1) !important;
    border-radius: 8px;
}
@media only screen and (max-width: 767px) {
    .project-live-link {
        padding-top: 10px !important;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
    .project-live-link {
        padding-top: 10px !important;
    }
    .project-live-link .avia-promocontent {
        width: 100%;
    }
    .project-live-link .avia-button-wrap {
        float: none;
    }
    .project-live-link .avia-button-wrap .avia-button {
        float: none;
        position: relative;
        top: 0px;
        left: 0;
        margin-top: 0;
    }
}
@media only screen and (min-width: 990px) {
    .av_promobox .avia-button.avia-size-large {
        margin-top: -24px;
    }
}


/* TESTIMONIALS
======================================= */


/* Styling testimonials slide
------------------------------------------------------ */
#top .avia-slider-testimonials.avia-testimonial-wrapper {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
#top .av-large-testimonial-slider .avia-testimonial-name {
  margin-top: 0;
}
#top .av-large-testimonial-slider .avia-slideshow-arrows a {
  opacity: 0.3;
}
.av-large-testimonial-slider .avia-slideshow-arrows a:before {
  font-size: 28px !important;
}
#top .av-large-testimonial-slider .avia-testimonial-content {
    font-size: 1.2em !important;
}
@media only screen and (max-width: 989px) {
.responsive #top .av-large-testimonial-slider.avia-testimonial-wrapper .avia-testimonial {
    padding: 0px 30px !important;
  }
  #top .av-large-testimonial-slider .avia-testimonial-content {
      font-size: 1em !important;
  }
  #top .av-large-testimonial-slider .avia-slideshow-arrows a {
    margin: 0 !important;
    opacity: 0.9;
  }
.av-large-testimonial-slider .avia-slideshow-arrows a:before {
  font-size: 18px !important;
}
  #top .avia-slideshow-arrows a {
    width: 40px;
  }
  #top .avia-slideshow-arrows a.next-slide {
    right: -6%;
  }
  #top .avia-slideshow-arrows a.prev-slide {
    left: -6%;
  }
}
@media only screen and (max-width: 479px) {
.responsive #top .av-large-testimonial-slider.avia-testimonial-wrapper .avia-testimonial {
    padding: 0px !important;
  }
}
#top .av-large-testimonial-slider .avia-testimonial-meta .avia-testimonial-image {
    width: 50px !important;
    height: 50px !important;
}

/* Testimonials stars
------------------------------------------------------ */
.testimonial-stars .avia-icon-list {
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
}


/* FOOTER
======================================= */


/* Styles Socket
------------------------------------------------------ */
#socket .container {
    padding-bottom: 30px;
}
#socket {
    font-size: 14px !important;
}
@media only screen and (max-width: 479px) {
    .copyright,
    .social_bookmarks {
        width: 100%;
        clear: both;
        text-align: center;
        display: block;
    }
    .copyright {
        margin-top: 50px;
    }
    .social_bookmarks {
        display: flex !important;
        justify-content: center !important;
        overflow: hidden !important;
        top: -50px !important;
        border-radius: 8px !Important;
    }
    #socket .container {
        padding-top: 40px;
    }
    #socket .sub_menu_socket {
        float: none !important;
        display: table !important;
        margin: 0 auto !important;
        width: auto !important;
    }
    #socket .sub_menu_socket ul {
        margin-left: 0 !important;
        text-align: center;
    }
    #socket .sub_menu_socket ul li:first-child {
        padding-left: 0 !important;
    }
    #socket .sub_menu_socket ul li {
        float: none !important;
        padding: 0 !important;
        border: 0 !important;
        line-height: 2.5 !important;
    }
}
body.single #socket .sub_menu_socket,
body.page:not(.home) #socket .sub_menu_socket {
    display: none !important;
}


/* Styles social media links
------------------------------------------------------ */
@media only screen and (min-width: 768px) {
    #socket .social_bookmarks {
        display: none;
    }
}
#socket .social_bookmarks {
    margin: 0;
    margin-right: 0%;
    height: auto;
    top: 0;
    margin-top: -40px;
}
@media only screen and (max-width: 767px) {
    #socket .social_bookmarks {
        margin-right: 0%;
    }
}
#top .social_bookmarks li {
    width: auto;
    font-size: 24px;
    border-radius: 0;
    overflow: visible;
    top: 0px;
    margin: 0 .5rem;
}
#top .social_bookmarks li a {
    border-radius: 8px;
    padding: .5rem .75rem;
    width: auto;
    background: #fff !important;
    border: 1px solid #ddd;
}


/* MAIN CONTACT SECTION
======================================= */


/* Styles home Contact section
------------------------------------------------------ */
.home-social-icons ul.avia-icon-list li {
    float: left;
    clear: none;
}
.home-social-icons ul.avia-icon-list li a {
    margin-right: 15px !important;
}
.home-social-icons .iconlist-timeline { 
    display: none;
}
.contact-form-column {
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15) !important;
}
.contact-form-column:before {
    content: "";
    width: 80%;
    height: 100%;
    background: url(//alfredowebsites.com/wp-content/uploads/2019/03/plain-gradient.jpg) no-repeat top left;
    top: -20px;
    right: -15px;
    background-size: 100%;
    position: absolute;
    opacity: 1;
    z-index: -1;
    overflow: visible;
    visibility: inherit;
}
.contact-form-column:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    background-size: 100%;
    z-index: -1;
    overflow: visible;
    visibility: inherit;
}
.contact-form-column-projects {
    border: 1px solid #e6e6e6 !important;
}
.avia_ajax_form .button {
    width: 100%;
}
@media only screen and (min-width: 990px) {
    .contact-pitch {
        margin-top: 1rem !important;
    }
}


/* Styles Contact section on Portfolios
------------------------------------------------------ */
.single-portfolio .contact-form-column {
    box-shadow: none !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.single-portfolio .contact-form-column:before {
    display:none !important;
}


/* MODALS (POPUPS)
======================================= */


/* Styles the modals
------------------------------------------------------ */
.mfp-content {
    max-width: 500px !important;
}
.mfp-content .container {
    padding: 0 40px !important;
}
@media only screen and (max-width: 767px) {
    .mfp-content .container {
        padding: 0 25px !important;
    }
}

#the-template #wpadminbar {
    display: none !important;
}